<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.epro.fleaewha.dao.ProductDAO">
	<select id="getProductAll" resultType="kr.or.epro.fleaewha.dto.Product">
        SELECT 
        	productID, title, price, categoryName, createTime, optionName
        FROM Product
		JOIN Category ON Product.categoryID = Category.categoryId
        JOIN `Option` ON Product.optionID = `Option`.optionId
        ORDER BY createTime DESC
    </select>
    
	<select id="getProductAllOption" parameterType="HashMap" resultType="kr.or.epro.fleaewha.dto.Product">
        SELECT 
        	productID, title, price, categoryName, createTime, optionName
        FROM Product
		JOIN Category ON Product.categoryID = Category.categoryId
        JOIN `Option` ON Product.optionID = `Option`.optionId
		WHERE optionName = #{option}
		ORDER BY createTime DESC
    </select>
    
    <select id="getProductByCategoryOption" parameterType="HashMap" resultType="kr.or.epro.fleaewha.dto.Product">
        SELECT 
        	productID, title, price, categoryName, createTime, optionName
        FROM Product
		JOIN Category ON Product.categoryID = Category.categoryId
        JOIN `Option` ON Product.optionID = `Option`.optionId
		WHERE categoryName = #{category} AND optionName = #{option}
		ORDER BY createTime DESC
    </select>
    
    <select id="getProductByCategory" parameterType="HashMap" resultType="kr.or.epro.fleaewha.dto.Product">
        SELECT 
        	productID, title, price, categoryName, createTime, optionName
        FROM Product
		JOIN Category ON Product.categoryID = Category.categoryId
        JOIN `Option` ON Product.optionID = `Option`.optionId
		WHERE categoryName = #{category}
		ORDER BY createTime DESC
    </select>
    
    <select id="searchProduct" parameterType="HashMap" resultType="kr.or.epro.fleaewha.dto.Product">
        SELECT productID, title, price, categoryName, createTime, optionName
        FROM Product
		JOIN Category ON Product.categoryID = Category.categoryId
        JOIN `Option` ON Product.optionID = `Option`.optionId
		WHERE title LIKE #{keyword}
    </select>
    
    <select id="searchProductOption" parameterType="HashMap" resultType="kr.or.epro.fleaewha.dto.Product">
        SELECT 
        	productID, title, price, categoryName, createTime, optionName
        FROM Product
		JOIN Category ON Product.categoryID = Category.categoryId
        JOIN `Option` ON Product.optionID = `Option`.optionId
		WHERE title LIKE %#{keyword}% AND optionName = #{option}
		ORDER BY createTime DESC
    </select>
    
    <select id="getFileMain" parameterType="int" resultType="kr.or.epro.fleaewha.dto.File">
        SELECT fileURL
        FROM `File`
		WHERE productId = #{id} AND type=1
    </select>
</mapper>