<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.epro.fleaewha.dao.FileMapper">
    <select id="getFile" resultType="kr.or.epro.fleaewha.dto.File2">
        select
            fileID,
            productID,
           	fileURL,
           	type
        from
            File
        where
        	productID = #{productID} and type=1
    </select>
    
    <insert id="addFile" parameterType="kr.or.epro.fleaewha.dto.File2">
         INSERT INTO File (
       		fileID, productID, fileURL, type
       ) VALUES (
       		#{fileID},
       		#{productID},
       		#{fileURL},
       		#{type}
       )
    </insert>
    
    <delete id="deleteFile" parameterType="int">
    	DELETE FROM
    		File
    	WHERE
    		productID = #{productID} 
    </delete>
    
    <select id="getFiles" parameterType="int" resultType="kr.or.epro.fleaewha.dto.File2">
        SELECT 
        	fileURL
        FROM 
        	File
		WHERE 
			productID = #{productID}
    </select>
    
    <update id="updateFile" parameterType="kr.or.epro.fleaewha.dto.File2">
    UPDATE File
    SET 
    	fileURL = #{fileURL},
    	type = #{type}
    WHERE
    	productID = #{productID}
    
    </update>
</mapper>