<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.epro.fleaewha.dao.MainDao">
    <select id="getMainData" resultType="kr.or.epro.fleaewha.dto.MainDto">
        SELECT
            p.title,
            p.price,
            p.createTime, 
            f.fileURL
       	FROM Product p, File f
        WHERE f.productID=p.productID AND f.type=1 
        ORDER BY p.createTime DESC limit 12
    </select>
    
     <select id="getMyData" parameterType="String" resultType="kr.or.epro.fleaewha.dto.MypageDto">
        SELECT
            p.title,
            p.productID,
            u.email,
            u.name
       	FROM Product p, User u
        WHERE p.accountID=#{id} AND u.id=#{id}
        ORDER BY p.createTime DESC
    </select>
    
    <insert id="insertUser" parameterType="kr.or.epro.fleaewha.dto.MemberDto">
    INSERT INTO User(id,name,email)
    VALUES (#{id}, #{name},#{email})
    ON DUPLICATE KEY UPDATE name=#{name},email=#{email}
    </insert>
    
    <select id="checkUser" resultType="boolean">
    SELECT EXISTS( SELECT * FROM User WHERE id=#{id} limit 1) as success
    </select>
    
</mapper>

